<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.brown_carrot_market.mapper.ProductImageMapper">
	<resultMap id="productImageResultMap" type="com.itwill.brown_carrot_market.dto.ProductImage">
		<result column="PI_NO" property="pi_no"/>
		<result column="PI_NAME" property="pi_name"/>
		<result column="P_NO" property="p_no"/>
	</resultMap>
	<select id="selectProductImgList" parameterType="int" resultMap="productImageResultMap">
		select * from product_img where p_no=#{p_no}
	</select>
	<select id="selectProductImgOne" parameterType="int" resultMap="productImageResultMap">
		select * from product_img where pi_no=#{pi_no}
	</select>
	<insert id="insertProductImg" parameterType="com.itwill.brown_carrot_market.dto.ProductImage">
		insert into product_img(pi_no,pi_name,p_no) 
		values (product_img_pi_no_seq.nextval,#{pi_name},#{p_no})
	</insert>
	<delete id="deleteProductImg" parameterType="int">
		delete product_img where pi_no=#{pi_no}
	</delete>
</mapper>