
#townBoard_list_tbody_all .blog_post_content{
	margin-bottom: 50px;
}


.single_blog_area .blog_post_thumb img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.single_latest_post {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.single_blog_area .blog_post_content .post-date {
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: #0f99f3;
    top: 0;
    right: 40px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.single_blog_area .blog_post_content .post-date a {
    color: #ffffff;
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.single_blog_area .blog_post_content .post-date span {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

li{
	margin-left: 10px;
}

.imgspan::after{
	width:30px;
	height:30px;
	background-color: #eee;
	border-radius: 50%;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-position: center;
	background-size: contain;
	background-image: url("p-img/plus.png");
	content: '';
	display: block;
	position: absolute;
	
}

.form-control.rereply{
	height: 100px;
}
.col-12.rereply{
	margin-bottom: -10px;
}
.townReply.delete{
	margin-top: 15px;
}

/*
댓글 토글 시작~~~
*/
/*
.section {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  height: auto;
  max-height: 600px;
}

.section.collapsed {
  max-height: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 10px;
}

.container {
  border: 3px solid #393D4F;
  margin: 0 auto;
  max-width: 300px;
  border-radius: 3px;
}
.container .section {
  border: 3px solid #ccc;
}

button {
  display: block;
  --webkit-appearance:none;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background: #393D4F;
  color: white;
  margin: 15px auto;
  padding: 15px;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
}
button:hover {
  box-shadow: 0px 0px 15px lightgrey;
}
button:active {
  box-shadow: 0px 0px 10px lightgrey;
}
button:focus {
  outline: none;
}
*/
/*
댓글 토글 끝~~~
*/


