.catagory_section a, .achive_section a {
    display: inline;
    font-size: 14px;
    height: auto;
    padding: 5px 0;
    width: 100%;
}
#townBoard_list_tbody_all .blog_post_content{
	margin-bottom: 50px;
}


.single_blog_area .blog_post_thumb img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.single_latest_post {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.single_blog_area .blog_post_content .post-date {
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: #0f99f3;
    top: 0;
    right: 40px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.single_blog_area .blog_post_content .post-date a {
    color: #ffffff;
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.single_blog_area .blog_post_content .post-date span {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

li{
	margin-left: 10px;
}

.imgspan::after{
	width:30px;
	height:30px;
	background-color: #eee;
	border-radius: 50%;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-position: center;
	background-size: contain;
	background-image: url("p-img/plus.png");
	content: '';
	display: block;
	position: absolute;
	
}

.form-control.rereply{
	height: 100px;
}
.col-12.rereply{
	margin-bottom: -10px;
}
.townReply.delete{
	margin-top: 15px;
}
/***************** 버튼 *******************/
.townBoard_btn{
	
}


/***************** 버튼 끝 *******************/



/************ 슬라이드쇼 시작 **************/
* { margin: 0; padding: 0; }
body { font: 17px 'Nanum Gothic', sans-serif; }
ul { width: 700px; }
li { list-style: none; }
/************ 슬라이드쇼 끝 **************/


